@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');

:root{
  --color1-:#070423;
  --color2-:#1f0b3e;
  --color3-:#8CA9AD;
  --color4-:#ececf3;
  --color5-:#84812B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}